<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjm.yigou.order.supply.dao.OrderDao">
<select id="findPayment" resultType="com.wjm.yigou.order.supply.vo.OrderVO">
    select o.payment_type,oi.title,oi.num,oi.price,
    oi.total_fee,oi.pic_path,oi.merchant
    from tb_order o
    inner join tb_order_item oi
    on o.id=oi.order_id
    where o.id=#{id}
</select>
</mapper>