<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjm.yigou.order.supply.dao.OrderShippingDao">

    <select id="findAll" resultType="com.wjm.yigou.order.supply.entity.OrderShipping">
        select * from yigo.tb_order_shipping
    </select>
</mapper>